.option_container{
    padding: 6rem 10rem 5px 10rem;
    display: flex;
    gap: 1rem;
    height: max-content;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #024f79;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #024f79;
    cursor: pointer;
  }
  
  .button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #024f79;
    box-shadow: 4px 5px 17px -4px #024f79;
  }
  
  .button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #024f79;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button:hover::before {
    width: 250%;
  }

.form_container{
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    height: max-content;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.form_container2{
    padding: 10rem 10rem 5rem 10rem;
    display: flex;
    height: max-content;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 300px;
    background-color: #e8e8f0;
  }
  
  .form__field {
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 15px;
    color: #000;
    padding:  12px 10px;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #000;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  .select{
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
  }


  .button_container{
    display: flex;
    justify-content: center;
    overflow:hidden;
    padding-top: 1rem;
  }

  .buttonS {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       #01314b 0%,
       #0075b3 8%,
       #0075b3 92%,
       #01314b 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #024f79;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .buttonS:hover {
    filter: brightness(110%);
   }
   
   .button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .buttonS:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .buttonS:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .buttonS:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .buttonS:focus:not(:focus-visible) {
    outline: none;
   }


  